@page
@model Faculty.Pages.AddNewCourseModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="text-center" style="font-family:'Comic Sans MS';">Add New Course</h2>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-danger"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.CourseCode">Course Code:</label>
                <input type="text" class="form-control" asp-for="course.CourseCode" style="text-transform:uppercase;" required />
                <span asp-validation-for="course.CourseCode" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.CourseTitle">Course Title:</label>
                <input type="text" class="form-control" asp-for="course.CourseTitle" required />
                <span asp-validation-for="course.CourseTitle" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.CourseSemester">Course Semester (Odd/Even):</label>
                <select class="form-control" asp-for="course.CourseSemester">
                    <option value="Odd">Odd Semester</option>
                    <option value="Even">Even Semester</option>
                </select>
                <span asp-validation-for="course.CourseSemester" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.CourseYear">Year:</label>
                <input type="text" class="form-control" asp-for="course.CourseYear" value="@DateTime.Now.Year.ToString()" />
                <span asp-validation-for="course.CourseYear" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.Instructor">Course Instructor:</label>
                <input type="text" class="form-control" asp-for="course.Instructor" value="@Model.CurrentProfile.FullName" required />
                <span asp-validation-for="course.Instructor" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.TeachingAssistants">Course TeachingAssistants((If any, seprated by semicolon ; ):</label>
                <input type="text" class="form-control" asp-for="course.TeachingAssistants" />
                <span asp-validation-for="course.TeachingAssistants" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group-sm">
                <label asp-for="course.LecturesTiming">Lecture Timings:</label>
                <input type="text" class="form-control" asp-for="course.LecturesTiming" required />
                <span asp-validation-for="course.LecturesTiming" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="course.CourseDescription">Course Description/Objectives:</label>
                <textarea rows="6" type="text" class="form-control" asp-for="course.CourseDescription" required></textarea>
                <span asp-validation-for="course.CourseDescription" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="course.ExamInstructions">Exam Instructions (If any):</label>
                <textarea rows="3" type="text" class="form-control" asp-for="course.ExamInstructions"></textarea>
                <span asp-validation-for="course.ExamInstructions" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <h5 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2" style="font-weight:bold;">Course Registration Deadline for students</h5>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="course.DeadlineDay">Day of Month:</label>
                <select class="form-control" asp-for="course.DeadlineDay">
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="course.DeadlineDay" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="course.DeadLineMonth">Month:</label>
                <select class="form-control" asp-for="course.DeadLineMonth">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="course.DeadLineMonth" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="course.DeadlineYear">Year:</label>
                <select class="form-control" asp-for="course.DeadlineYear">
                    @for (int i = 2022; i >= 1995; i--)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="course.DeadlineYear" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="course.DeadlineTime">Time:</label>
                <select class="form-control" asp-for="course.DeadlineTime">
                    @for (int i = 00; i <= 23; i++)
                    {
                        <option value="@(i.ToString()+":00:00")">@(i.ToString() + ":00")</option>
                    }
                </select>
                <span asp-validation-for="course.DeadlineTime" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                <input type="submit" class="btn " value="Create Course" style="background-color:#34495e;color:#FFFFFF;" />

            </div>
        </div>
    </form>
    <br />
    <br />
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>

    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}