@page
@model Faculty.Pages.AssignmentsModel
@{
    Layout = "CourseLayout";
    ViewData["Title"] = Model.CurrentCourse.CourseCode + ": " + Model.CurrentCourse.CourseTitle;
    ViewData["SemesterYear"] = Model.CurrentCourse.CourseSemester + " Semester " + Model.CurrentCourse.CourseYear;
}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a asp-page="/Course" asp-route-id="@Model.CurrentCourse.ID">Introduction</a></li>
            <li><a asp-page="/CourseResources" asp-route-id="@Model.CurrentCourse.ID">Resources</a></li>
            <li class="active"><a asp-page="/Assignments" asp-route-id="@Model.CurrentCourse.ID">Assignments</a></li>
            <li><a asp-page="/Exams" asp-route-id="@Model.CurrentCourse.ID">Exams</a></li>
            <li><a asp-page="/CourseRegistration" asp-route-id="@Model.CurrentCourse.ID">Register For Course</a></li>
        </ul>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <ul class="nav nav-sidebar">
            <li><a asp-page="/AllCourses">Other Courses</a></li>
            <li><a asp-page="/Index">Go to Home Page</a></li>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li><a asp-page="/AdminDashboard">Admin Dashboard</a></li>
                <li><a asp-page="/LogOut">Log Out</a></li>
            }
            else if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
            {
                <li><a asp-page="/StudentDashboard">Student Dashboard</a></li>
                <li><a asp-page="/LogOut">Log Out</a></li>
            }
            else
            {
                <li><a asp-page="/Login">Login</a></li>
            }
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div style="text-align:center;font-size:x-large;width:100%;">@(Model.CurrentCourse.CourseCode + " " + Model.CurrentCourse.CourseSemester + " " + Model.CurrentCourse.CourseYear) <br>Assignments</div>

        <br /><br /><br />
        
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <h4>Pending Assignments</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>Date of Submission</th>
                            <th>Description</th>
                        </tr>
                        @foreach (var item in Model.PendingAssignments)
                        {
                            <tr>
                                <td>@(item.DeadlineDay.ToString() + " / " + item.DeadLineMonth.ToString() + " / " + item.DeadlineYear.ToString())
                                <td>
                                    <span style="font-style: italic;"><a asp-page="/ViewAssignment" asp-route-id="@item.ID">@item.AssignmentTitle</a></span>
                                </td>
                            </tr>
                        }
                    </table>
            </div>
            <div class="col-lg-5 col-md-5 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                <h4>Old Assignments</h4>

                    <table class="table table-condensed table-hover">
                            <tr>
                                <th>Date of Submission</th>
                                <th>Description</th>
                            </tr>
                            @foreach (var item in Model.OldAssignments)
                            {
                                <tr>
                                    <td style="vertical-align:middle;padding: 10px;padding-right:20px;">@(item.DeadlineDay.ToString() + " / " + item.DeadLineMonth.ToString() + " / " + item.DeadlineYear.ToString())
                                    <td>
                                        <span style="font-style: italic;"><a asp-page="/ViewAssignment" asp-route-id="@item.ID">@item.AssignmentTitle</a></span>
                                    </td>
                                </tr>
                            }
                    </table>
            </div>
        </div>


        <br /><br /><br />
        

    </div>

</div>