@page
@model Faculty.Pages.EditAssignmentsPageModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated)
{
    <h2 class="text-center" style="font-family:'Comic Sans MS';">Edit Assignments Page</h2>
    <hr />

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 col-lg-offset-4 col-md-offset-4 text-center">
            <a style="background-color:#34495e;color:#FFFFFF;" asp-page="/AddNewAssignment" class="btn">Add New Assignment</a>
        </div>
    </div>

    <br />
    <div class="row">

        <h4 class="text-left" style="font-family:'Comic Sans MS';">Ongoing Assignments</h4>
        <table class="table table-condensed table-hover">
            <tr>
                <th>S.No.</th>
                <th>Course Name</th>
                <th>Assignment Title</th>
                <th>Deadline</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.OngoingAssignmentsList.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OngoingAssignmentsList[i].CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OngoingAssignmentsList[i].AssignmentTitle)
                    </td>
                    <td>
                        @(Model.OngoingAssignmentsList[i].DeadlineDay.ToString() + "/" + Model.OngoingAssignmentsList[i].DeadLineMonth.ToString() + "/" + Model.OngoingAssignmentsList[i].DeadlineYear.ToString() + " - " + Model.OngoingAssignmentsList[i].DeadlineTime.ToString())
                    </td>
                    <td>
                        <a asp-page="/ViewAssignmentAdmin" asp-route-id="@Model.OngoingAssignmentsList[i].ID">View</a>
                    </td>
                    <td>
                        <a asp-page="/EditAssignmentDeadline" asp-route-id="@Model.OngoingAssignmentsList[i].ID">Edit</a>
                    </td>
                    <td>
                        <a asp-page="/DeleteAssignment" asp-route-id="@Model.OngoingAssignmentsList[i].ID">Delete</a>
                    </td>
                </tr>
            }
        </table>
        <br />
        <br />
        <h4 class="text-left" style="font-family:'Comic Sans MS';">Past Assignments</h4>

        <table class="table table-condensed table-hover">
            <tr>
                <th>S.No.</th>
                <th>Course Name</th>
                <th>Assignment Title</th>
                <th>Deadline</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.OldAssignmentsList.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OldAssignmentsList[i].CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.OldAssignmentsList[i].AssignmentTitle)
                    </td>
                    <td>
                        @(Model.OldAssignmentsList[i].DeadlineDay.ToString() + "/" + Model.OldAssignmentsList[i].DeadLineMonth.ToString() + "/" + Model.OldAssignmentsList[i].DeadlineYear.ToString() + " - " + Model.OldAssignmentsList[i].DeadlineTime.ToString())
                    </td>
                    <td>
                        <a asp-page="/ViewAssignmentAdmin" asp-route-id="@Model.OldAssignmentsList[i].ID">View</a>
                    </td>
                    <td>
                        <a asp-page="/EditAssignment" asp-route-id="@Model.OldAssignmentsList[i].ID">Edit</a>
                    </td>
                    <td>
                        <a asp-page="/DeleteAssignment" asp-route-id="@Model.OldAssignmentsList[i].ID">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>

    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
