@page
@model Faculty.Pages.ViewAssignmentAdminModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="text-center" style="font-family:'Comic Sans MS';">View Assignment</h2>
    <hr />
    <br />
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-danger"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newAssignment.CourseName">Select Course:</label>
                <input class="form-control" asp-for="newAssignment.CourseName" disabled />
                <span asp-validation-for="newAssignment.CourseName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newAssignment.AssignmentTitle">Assignment Title:</label>
                <input type="text" class="form-control" asp-for="newAssignment.AssignmentTitle" style="text-transform:uppercase;" disabled />
                <span asp-validation-for="newAssignment.AssignmentTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newAssignment.AssignmentDescription">Assignment Description :</label>
                <textarea rows="6" type="text" class="form-control" asp-for="newAssignment.AssignmentDescription" disabled></textarea>
                <span asp-validation-for="newAssignment.AssignmentDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <h5 class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2" style="font-weight:bold;">Assignment Deadline</h5>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 form-group">
                <label asp-for="newAssignment.DeadlineDay">Day of Month:</label>
                <select class="form-control" asp-for="newAssignment.DeadlineDay" disabled>
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="newAssignment.DeadlineDay" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="newAssignment.DeadLineMonth">Month:</label>
                <select class="form-control" asp-for="newAssignment.DeadLineMonth" disabled>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="newAssignment.DeadLineMonth" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="newAssignment.DeadlineYear">Year:</label>
                <select class="form-control" asp-for="newAssignment.DeadlineYear" disabled>
                    @for (int i = 2022; i >= 1995; i--)
                    {
                        <option value="@i">@i.ToString()</option>
                    }
                </select>
                <span asp-validation-for="newAssignment.DeadlineYear" class="text-danger"></span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 form-group">
                <label asp-for="newAssignment.DeadlineTime">Time:</label>
                <select class="form-control" asp-for="newAssignment.DeadlineTime" disabled>
                    @for (int i = 00; i <= 23; i++)
                    {
                        <option value="@i">@(i.ToString() + ":00")</option>
                    }
                </select>
                <span asp-validation-for="newAssignment.DeadlineTime" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a class="btn" href="@Model.newAssignment.AttachmentFulLink" style="background-color:#34495e;color:#FFFFFF;" target="_blank">View Submission</a>
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 text-center">
                <a asp-page="/EditAssignmentDeadline" class="btn" asp-route-id="@Model.newAssignment.ID" style="background-color:#34495e;color:#FFFFFF;">Edit Assignment Deadline</a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <a asp-page="/ViewAssignmentSubmissions" class="btn" asp-route-id="@Model.newAssignment.ID" style="background-color:#34495e;color:#FFFFFF;">View Submissions</a>
            </div>
        </div>
    </form>
    <br />
    <br />
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>

    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

