@page
@model Faculty.Pages.ViewRegistrationAdminModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Admin Dashboard";
    ViewData["Name"] = Model.CurrentProfile.FullName;
    ViewData["Department"] = Model.CurrentProfile.Department;
    ViewData["College"] = Model.CurrentProfile.College;
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h2 class="text-center" style="font-family:'Comic Sans MS';">@(Model.CurrentCourse.CourseCode + ": Registrations")</h2>
    <hr />

    @* Uncomment following lines to able to generate pdf files. Remember to uncomment loadAssembly file in Startup.cs*@
    <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 col-lg-offset-4 col-md-offset-4 text-center">
                <a style="background-color:#34495e;color:#FFFFFF;" asp-page="/ExportRegistrationList" asp-route-id="@Model.CurrentCourse.ID" target="_blank" class="btn">Print Registrations List</a>
            </div>
        </div>
    <br />
    <div class="row">
        <h4 class="text-left" style="font-family:'Comic Sans MS';">Registered Students List</h4>
        <table class="table table-hover table-condensed">
            <tr>
                <th>S.No.</th>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Year</th>
                <th></th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.AppliedStudentList.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AppliedStudentList[i].RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AppliedStudentList[i].FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AppliedStudentList[i].Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.AppliedStudentList[i].Year)
                    </td>
                    <td>
                        <a asp-page="/Approve" asp-route-id="@Model.AppliedStudentList[i].ID" asp-route-course="@Model.CurrentCourse.ID">Approve</a>
                    </td>
                    <td>
                        <a asp-page="/Decline" asp-route-id="@Model.AppliedStudentList[i].ID" asp-route-course="@Model.CurrentCourse.ID">Decline</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <div class="row">
        <h4 class="text-left" style="font-family:'Comic Sans MS';">Approved Students List</h4>
        <table class="table table-hover table-condensed">
            <tr>
                <th>S.No.</th>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Year</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.ApprovedStudentList.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ApprovedStudentList[i].RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ApprovedStudentList[i].FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ApprovedStudentList[i].Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ApprovedStudentList[i].Year)
                    </td>
                    <td>
                        <a asp-page="/Decline" asp-route-id="@Model.ApprovedStudentList[i].ID" asp-route-course="@Model.CurrentCourse.ID">Decline</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <br />
    <div class="row">
        <h4 class="text-left" style="font-family:'Comic Sans MS';">Declined Students List</h4>
        <table class="table table-hover table-condensed">
            <tr>
                <th>S.No.</th>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Degree</th>
                <th>Year</th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.DeclinedStudentList.Count; i++)
            {
                <tr>
                    <td>
                        @(i + 1).
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DeclinedStudentList[i].RollNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DeclinedStudentList[i].FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DeclinedStudentList[i].Degree)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.DeclinedStudentList[i].Year)
                    </td>
                    <td>
                        <a asp-page="/Approve" asp-route-id="@Model.DeclinedStudentList[i].ID" asp-route-course="@Model.CurrentCourse.ID">Approve</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="text-danger text-center">You Can View This Page Only If You Are Logged In.</p>
    <br />
    <div class="text-center">
        <a class="btn btn-default" asp-page="/Login">Login</a>

    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




